---
permalink: /pdf-resume.html
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resume PDF</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pdf-resume.css">
</head>
<body>
  <div class="resume-container">
    <div class="main-content">
      <div class="sidebar">
        {% capture sidebar_content %}
        {% include_relative assets/resume/_sidebar.md %}
        {% endcapture %}
        {{ sidebar_content | markdownify }}
      </div>
      <div class="main-section">
        {% capture main_content %}
        {% include_relative assets/resume/_main.md %}
        {% endcapture %}
        {{ main_content | markdownify }}
      </div>
    </div>
  </div>
</body>
</html>